@charset "UTF-8";

:root{
    --verde: #49a09d;
    --lilas: #5f2c82;
}

@media screen and (min-width: 769px) and (max-width: 992px){
    body{
        background-image: linear-gradient(to bottom, var(--verde), var(--lilas))
    }
    
    section#login{
        width: 80vw;
        height: 280px;
    }

    section#login > div#picture {
        float: left;
        width: 30%;
        height: 100%;
    }

    section#login > div#form{
        float: right;
        width: 70%;
    }
}

@media screen and (min-width: 993px){
    body{
        background-image: linear-gradient(to bottom, var(--verde), var(--lilas))
    }
    
    section#login{
        width: 950px;
        height: 350px;
    }

    section#login > div#picture{
        float: right;
        width: 50%;
        height: 100%;
    }

    section#login > div#form{
        float:left;
        width: 50%;
    }

    div#form > h1{
        font-size: 2em;
    }
    
    div#form > p {
    font-size: 1em;
    margin: 20px 0px;
}
}